
@font-face {
    font-family:Philosopher; 
    src: url('../fonts/PhilosopherRegular.otf');
    src: url('../fonts/PhilosopherRegular.ttf');
}



html, body
{
	height: 100%;
    font-family:Philosopher; 
}

.wrapper{
	width: 100%;
	height: 100%;
	margin: 0 auto; 
	padding: 0;
}

.header
{
	width: 100%;
	height: 100%; 
	margin: 0 auto;
	text-align: center;
	margin-top: 1.5em;
}

.logo
{
	max-width: 18%;
}
.mainbg
{
	background-position: 50%;
	width: 75%;
	height: 100%;
	margin: 0 auto;
	background-size: cover; 
	background-image: url('../Images/mainbg_02.png');
	background-repeat:no-repeat;
	border-radius: 10px;

}
.row, .row
{
	margin: 0;
	padding: 0;
	}
.mainbgP
{
	height: calc(64%);
}

.menu-bg
{
	margin: 0 auto;
	background-image: url('../Images/mainbgheader_03.png');
	background-repeat: no-repeat;
	width: 530px;
	height: 46px;
	background-size: cover;
}
ul.menu{
	list-style-type: none; 
	text-align: center;
	margin: 0; 
	padding: 0; 
	font-size: .8em;

}

ul.menu li
{
	margin: 0; 
	padding: 0; 
	display: inline; 
	border-right: 1px solid #333; 
}

ul.menu li:last-child
{
	border: none;
}

ul.menu li a 
{
	padding: .6em .8em .8em;
	display: inline-block;
	text-decoration: none;
}

.picture
{

	margin: 0 auto;

}

.picture-img

{
	width: 150px;
	height: 171px;
	margin: 1em auto;
	background-size: cover;
	background-image: url('../images/noman.png');
	background-repeat: no-repeat;
}


.picture-img:hover

{
	background-image: url('../images/noman-hover_03.png');
	background-repeat: no-repeat;
}
.name
{
	text-align: center;
	margin:0 auto;
	font-size: 1.2em;
	margin-top: -1em;
}

.designation
{
	text-align: left;
	margin: 0 auto; 
	font-size: 1em; 
	color: #fff;
	
}
.description
{
	text-align: center;
	margin: 0 auto; 
	font-size: .8em;
	color: #fff; 
}

.Summary
{
    width:96%;
	text-align: center;
	margin: 0 auto; 
	font-size: .8em;
	color: #fff; 
    text-align:justify;
    padding-top:0.5em;
}

.footer-main
{
	width: 100%;
	margin: 0 auto;
	text-align: center;

}
.footer-menu
{
	display: inline-block;
}

.footer-menu-img
{
	max-width: 20%;
	text-align: center;
	display: inline-block;
}

.footer-menu-img-fb-tw
{
	max-width: 16.5%;

}

#main
{
	margin-top: .5em;

}
.slides-inner
{
	margin:.5em 1em 1em 1em; 
	font-size: 1.2em;

}

.Responsibilites-heading
{
	font-size: .7em;
}

ul.Responsibilites
{
	list-style-type: none;
	font-size: .6em;
	text-align: justify;
}

ul.Responsibilites li:before{ content:"-"; position:relative; left:-5px;}
ul.Responsibilites li{ text-indent:-5px; }

.VE-bg
{
	background-color: #2B5376;
}
.VE-Dtl-bg
{
	width: 80%;
	margin: 0 auto;
	background-color: #fff;
}
.Company-name
{
	padding: .5em 0 0 1em;
	font-size: 1.5em;
}
.VE-Dtl-Experience
{
	padding: .5em 0 .8em 1em;
	font-size: .8em;
	width: 90%;
}

ul.VE-Dtl-Experience-res
{
	list-style-type: none;
	font-size: .7em;
	text-align: justify;
	width: 90%;
}

ul.VE-Dtl-Experience-res li:before{ content:"-"; position:relative; left:-5px;}
ul.VE-Dtl-Experience-res li{ text-indent:-5px; }

.Project-Dtl
{
	font-size: .63em;

}

.Responsibilites-heading-scope
{
	font-size: .57em;
}

.contact-main {
    padding:1em 0 0 1em;
    width:80%;
    margin:0 auto;
}
.contact-table {
    width:90%; margin:0 auto; color:#fff;    
}
.contact-table-control {
    padding-right:.5em;
}

.form-controls {
    height:30px; font-size:16px; width:300px;
}

.contact-row {
    margin:0 auto;
    color:#fff;
    width:96%;
    text-align:justify;
    font-size:.8em;
}


.contact-Popup {
    margin:0 auto;
    color:#000;
    width:96%;
    text-align:justify;
    font-size:.6em;
}

.ui-dialog .ui-dialog-title
{ display:none;}

.ui-widget-header {
    border: none !important;
    background: #fff !important;
}
   